# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: NDN
email: namnd2802@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  My name is Nguyen Danh Nam.
twitter_username: namndpy
github_username: namnguyendanh
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title
paginate: 10 # amount of posts to show
paginate_path: /page:num/

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Nguyen Danh Nam"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "Cloud computing enthusiast. I am interested in Machine Learning, NLP, Data Science, Modern Data Architecture and Algorithms. My goal is to become an excellent programmer, applying technology to improve the quality of our lives."
  links:
    - label: "LinkedIn"
      icon: "fas fa-fw fa-link"
      url: "https://www.linkedin.com/in/namnguyendanh/"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      url: "https://www.facebook.com/nam.nd.92/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/namnguyendanh"

footer:
  links:
    - label: "LinkedIn"
      icon: "fas fa-fw fa-link"
      url: "https://linkedin.com/in/namnguyendanh"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      url: "https://twitter.com/namndpy"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/namnguyendanh"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

collections:
  projects:
    output: true
    permalink: /:collection/:path

repository: namnguyendanh/namnguyendanh.github.io
github: [metadata]

comments:
  provider: "disqus"
  disqus:
    shortname: "namnguyendanh-github-io"
